/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts
$font-default-sans-serif: Helvetica, sans-serif;
$font-secondary-sans-serif: 'Campton';

$font-main: $font-default-sans-serif;
$font-secondary: $font-secondary-sans-serif;

// Colors
$white: #fff;
$black: #000;

$dark: #25282a;
$grey-dark: #4a4a4a;
$grey: #666;
$grey-light: #9b9b9b;
$light: #f6f5f5;
$red: #ff1919;


// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone: 640;
$tablet: 991;
$tablet-l: 1199;
$lap-small: 1250;
$lap-large: 1400;

